# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Build outputs
dist/
build/

# Database files
*.sqlite
*.sqlite3

# Dependency directories
bower_components/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Temp files
*.tmp
*.swp
